.group:not(:last-child) {
  margin-bottom: 2rem;
}

.input {
  font-family: inherit;
  font-size: 1.5rem;
  color: #777;
  padding: 1.5rem 2rem;
  border: none;
  border-bottom: 2px solid #3a99d0;
  background-color: rgba(255, 255, 255, 0.8);
  transition: all 0.3s;
}

.input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid #3a99d0;
}

.input:focus:invalid {
  border-bottom: 2px solid #f073c8;
}

.label {
  font-size: 1.2rem;
  font-weight: 700;
  color: #777;
  margin-top: 0.7rem;
  margin-left: 2rem;
  display: block;
  transition: all 0.3s;
}

.input:placeholder-shown + .label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
