.card {
  position: relative;
  width: 75%;
  margin: 0 auto;
  padding: 3rem;
  padding-left: 6rem;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1.2rem 2.2rem rgba(0, 0, 0, 0.25);
}
.card:not(:last-child) {
  margin-bottom: 2rem;
}

.card::after {
  content: "";
  display: table;
  clear: both;
}

.shape {
  width: 10rem;
  height: 10rem;
  float: left;
  background: linear-gradient(to left, #5cbfe9, #3862aa);
  clip-path: circle(50% at 50% 50%);
  transform: translateX(-3rem);
}

.img {
  height: 100%;
}

.company {
  font-size: 1.4rem;
  font-weight: 700;
  color: #3a99d0;
  text-transform: capitalize;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.role {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.7;
  text-transform: capitalize;
}

.skills {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
.skill {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #fff;
  background: linear-gradient(to right, #5cbfe9, #3862aa);
  padding: 0.5rem 1rem;
  border-radius: 3px;
}
.skill:not(:last-child) {
  margin-right: 0.8rem;
}

.details {
  display: flex;
}
.details li {
  font-size: 1.2rem;
  font-weight: 500;
  color: #777;
  text-transform: capitalize;
}
.details li:not(:last-child) {
  margin-right: 3rem;
}
.details li:first-child {
  list-style: none;
  text-transform: lowercase;
}

.action {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2.5rem;
}

.action span {
  color: #3862aa;
  font-size: 2rem;
  cursor: pointer;
  display: inline-block;
  transition: all 0.3s;
}
.action span:hover {
  transform: scale(1.1);
}

.action span:not(:last-child) {
  margin-right: 1rem;
}

.action span:last-child {
  color: #f073c8;
}
