.nav {
  width: 100%;
  background: #3862aa;
  padding: 3.5rem;
  margin-bottom: 5rem;
  backface-visibility: hidden;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav ul li a:link,
.nav ul li a:visited {
  text-decoration: none;
  color: #fff;
}

.logo {
  margin-right: auto;
  font-size: 2.5rem;
  font-weight: 500;
}
.logo sup {
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: uppercase;
}

.company {
  margin-right: 2rem;
}
